name: CI

on:
  pull_request:
    types:
      - review_requested
  schedule:
    - cron: "0 5 * * 0"
  workflow_dispatch:

jobs:
  testing:
    uses: ./.github/workflows/testing.yml
    secrets: inherit

  coverage:
    name: Coverage reporting
    needs: testing
    uses: ./.github/workflows/coverage.yml
    secrets: inherit
