name: Coverage Reporting

on:
  workflow_call:
    inputs:
      run_codacy:
        type: boolean
        required: false
        default: false
      run_deepsource:
        type: boolean
        required: false
        default: false
      run_codecov:
        type: boolean
        required: false
        default: false
      artifact_name:
        type: string
        required: false
        default: coverage-report
    secrets:
      CODACY_PROJECT_TOKEN:
        required: false
      DEEPSOURCE_DSN:
        required: false
      CODECOV_TOKEN:
        required: false

jobs:
  codacy:
    name: Codacy coverage reporter
    runs-on: ubuntu-latest
    if: ${{ inputs.run_codacy }}
    continue-on-error: true
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: false

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact_name }}

      - name: Run codacy-coverage-reporter
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ env.CODACY_PROJECT_TOKEN }}
          coverage-reports: ./coverage.xml

  deepsource:
    name: DeepSource coverage reporter
    runs-on: ubuntu-latest
    if: ${{ inputs.run_deepsource }}
    continue-on-error: true
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: false

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact_name }}

      - name: Report test coverage to DeepSource
        env:
          DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
        uses: deepsourcelabs/test-coverage-action@master
        with:
          key: python
          coverage-file: coverage.xml
          dsn: ${{ env.DEEPSOURCE_DSN }}

  codecov:
    name: Codecov coverage reporter
    runs-on: ubuntu-latest
    if: ${{ inputs.run_codecov }}
    continue-on-error: true
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact_name }}

      - name: Upload coverage reports to Codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ env.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ env.CODECOV_TOKEN }}
