name: Coverage Reporting

on:
  workflow_call:

jobs:
  report:
    name: Upload coverage reports
    runs-on: ubuntu-latest
    if: ${{ secrets.CODACY_PROJECT_TOKEN != '' || secrets.DEEPSOURCE_DSN != '' || secrets.CODECOV_TOKEN != '' }}
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: false

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: coverage-report

      - name: Run codacy-coverage-reporter
        if: ${{ secrets.CODACY_PROJECT_TOKEN != '' }}
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: ./coverage.xml

      - name: Report test coverage to DeepSource
        if: ${{ secrets.DEEPSOURCE_DSN != '' }}
        uses: deepsourcelabs/test-coverage-action@master
        with:
          key: python
          coverage-file: coverage.xml
          dsn: ${{ secrets.DEEPSOURCE_DSN }}

      - name: Upload coverage reports to Codecov
        if: ${{ secrets.CODECOV_TOKEN != '' }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ secrets.CODECOV_TOKEN != '' && !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
