name: Testing

on:
  workflow_call:

jobs:
  unittest:
    name: Unit tests
    runs-on:
      - self-hosted
      - gpu
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: false
      - name: Install uv
        id: setup-python
        uses: astral-sh/setup-uv@v4
        with:
          python-version: "3.12"
      - uses: actions/cache@v4
        id: cache-env
        with:
          path: .venv
          key: ${{ runner.os }}-uv-${{ steps.setup-python.outputs.uv-version }}-env-${{ hashFiles('uv.lock') }}
      - name: Setup venv for testing & Install dependencies
        if: steps.cache-env.outputs.cache-hit != 'true'
        run: |
          uv venv
          uv sync --group test
      - name: Running pytest
        run: uv run pytest -v --cov=yasfpy --cov-report=xml --cov-report=html --junitxml=junit.xml -o junit_family=legacy
      - name: Coverage in XML
        run: uv run coverage xml -i
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: |
            coverage.xml
            junit.xml
            htmlcov/
          retention-days: 7
